*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    padding: 1rem;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
    margin: 0 auto;
}

input, select, textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}
/* 
input:focus, select:focus, textarea:focus{
    outline: none;
} */

textarea{
    height: 200px;
    max-height: 200px;
    min-height: 200px;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}